/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
body {
  /* overflow: hidden; */
  color: rgb(252, 252, 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid white;
  border-top: 8.5rem solid white;
}
#background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 15px;
}
main {
  display: flex;
  align-items: center;
  /* height: 100%; */
  /* justify-content: space-between; */
}
nav {
  width: 50%;
  min-width: fit-content;
}
ul {
  list-style-type: none;
  font-family: "Berkshire Swash", cursive;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 6rem;
}
li {
  cursor: pointer;
}
li:hover {
  color: orangered;
  font-size: 3.5rem;
  /* translate: 10px; */
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#profile-media {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* width: 50%;
  height: 100%; */
}
#profile-media img {
  /* height: 10%; */
  width: 75%;
  object-fit: cover;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.3);
  /* width: 50%; */
}
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
/* Fonts */
html {
  font-size: 62.5%;
}
h1 {
  /* font-family: "Berkshire Swash", cursive; */
  font-family: "Comforter Brush", cursive;
  /* font-family: "Permanent Marker", cursive; */
  /* letter-spacing: 0.3rem; */
  font-size: 5rem;
  color: rgb(0, 0, 85);
  /* color: rgb(252, 252, 170); */
  /* text-align: center; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: white;
  cursor: default;
  text-shadow: 0 0 5px rgba(34, 127, 235, 0.3);
}
h2 {
  z-index: 10;
  font-family: "Berkshire Swash", cursive;
  font-size: 6rem;
  color: orangered;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.7), 0 0 20px darkslategray,
    0 0 10px rgba(0, 0, 0, 0.8);
  translate: 0 70px;
}
h3 {
  z-index: 10;
  font-family: "Comforter Brush", cursive;
  font-size: 5rem;
  color: orangered;
  text-shadow: 0 0 40px rgba(0, 0, 0, 1), 0 0 20px darkslategray,
    0 0 5px rgba(0, 0, 0, 0.8);
  translate: 0 -75px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  #background {
    border-width: 10px;
    border-top: 8.5rem solid white;
  }
  #background img {
    object-position: 70% center;
  }
  body {
    height: 100%;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  nav {
    order: 2;
    width: 100%;
  }
  #profile-media {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -50px;
    /* width: 50%;
    height: 100%; */
    /* translate: 0 -70px; */
  }
  #profile-media img {
    /* height: 10%; */
    width: 85%;
    object-fit: cover;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.3);
    /* width: 50%; */
  }
  ul {
    padding: 2rem;
    margin: 0 auto;
    font-size: 3rem;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    gap: 1rem;
  }
  li {
    text-align: center;
    font-size: 2.5rem;
    width: 45%;
    padding: 1.5rem 2.5rem;
    color: rgb(0, 0, 85);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: 0 0 10px white, 0 0 30px white;
  }
  li:hover {
    /* color: rgb(0, 0, 85); */
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2.5rem;
    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
